self-hosting

From mcr:

>     >> }   *  A new repository MUST be created by the WG Chairs following
>     >> the
>     >> }      procedure in Section 3.2 of [RFC8874] to maintain the YANG
>     >> Module,
>     >> }      with the appropriate CI/CD YANG validation in place.
>     >>
>     >> gosh I wish we were doing this with some gitlab.ietf.org.
> 
>     > [Med] That’s not excluded by the text you quoted. That section 3.2 from
>     > 8874 is generic enough to cover any location we decide to maintain the
>     > files.
> 
> yes. I'm saying: can we please consider self-hosting this.
